.navbar-container {
  height: 8vh;
  width: 100%;
  color: whitesmoke;
  background-color: #2a679e
}

#navbar-brand {
  font-weight: 400;
  font-size: 30px;
}

.code-ocean {
  font-size: 22px;
}

.by-shani {
  font-size: 13px;
  margin-left: 10px;
}

.logo-icon {
  width: 35px;
  margin-right: 12px;
  margin-bottom: 4px;
  margin-left: 12px;
}

.headings-container {
  flex-direction: row;
  
  height: 5vh;
  background-color: rgb(107 162 212)
}

.headings-container h1 {
  font-size: 20px;
}

@media screen and (max-width: 992px) {
  .navbar-container {
    height: 10vh;
  }

  .headings-container {
    height: 7vh;
  }
}

@media screen and (max-width: 440px) {
  .logo-icon {
    width: 33px;
  }

  .code-ocean {
    font-size: 17px;
  }

  .by-shani {
    font-size: 10px;
  }
}

@media screen and (max-width: 356px) {
  .logo-icon {
    width: 25px;
  }

  .code-ocean {
    font-size: 15px;
  }

  .by-shani {
    font-size: 7px;
  }
}
